.container {
  position: relative;
  height: 50vh;
  border-radius: 4px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .card-title {
    padding: 1rem 1rem 0 1rem;
    background-color: transparentize(white, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .publisher-con {
      display: flex;
      align-items: center;
      mat-card-subtitle {
        margin: 0;
      }
    }
    & > mat-card-title{
      font-size: 3rem;
      color: white;
      text-transform: capitalize;
    }
    & > mat-card-subtitle {
      color: #212121;
    }
  }

}
