.mat-elevation-z5{
  box-shadow: none;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-top: 5rem;
  background: white;
  span {
    font-size: 1rem;
  }
}
